# Explicitly mark languages
Scripts/*.sql linguist-language=SQL
*.R linguist-language=R
*.r linguist-language=R
*.html linguist-language=HTML

# Vendored folders (ignored in language stats)
# Keep non-code folders ignored
/Data/** linguist-vendored
/Presentation/** linguist-vendored
/Dashboard/** linguist-vendored

# Reports folder: count scripts and HTML, ignore images
/Reports/** linguist-vendored=false
/Reports/**/*.png linguist-vendored
/Reports/**/*.jpg linguist-vendored
/Reports/**/*.jpeg linguist-vendored
